* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

html,
body
{
  height: 100%;
  background-color: #e1e1e1;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  padding: 5% 10%;
  text-align: center;
  background-color: #e1e1e1;
}